@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #78350f;
  background-color: #fffbeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html {
  scroll-behavior: smooth;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #5a2e0f;
}

button:focus,
button:focus-visible {
  outline: 2px solid #fffbeb;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px rgba(255, 251, 235, 0.5);
}

input {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  outline: none;
  border: 1px solid #78350f;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #78350f;
  color: #fffbeb;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
  color: #fffbeb;
}

input:focus {
  border-color: #fffbeb;
  box-shadow: 0 0 0 2px rgba(255, 251, 235, 0.5);
}

section {
  margin-inline: 3rem;
  margin-top: 8rem;
  padding-bottom: 3rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fffbeb;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
